# Скомпилированные / оптимизированные / DLL файлы
__pycache__/
*.py[cod]
*$py.class

# C расширения
*.so

# Распространение / упаковка
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
pip-wheel-metadata/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# PyInstaller
*.manifest
*.spec

# Юнит-тесты / отчеты о покрытии
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
.pytest_cache/

# Переводы
*.mo
*.pot

# Django
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal

# Flask
instance/
.webassets-cache

# Scrapy
.scrapy

# Sphinx документация
docs/_build/

# PyBuilder
target/

# Jupyter Notebook
.ipynb_checkpoints

# IPython
profile_default/
ipython_config.py

# pyenv
.python-version

# pipenv
Pipfile.lock

# PEP 582
__pypackages__/

# Celery
celerybeat-schedule
celerybeat.pid

# SageMath разобранные файлы
*.sage.py

# Виртуальные окружения
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Spyder параметры проекта
.spyderproject
.spyproject

# Rope параметры проекта
.ropeproject

# mkdocs документация
/site

# mypy
.mypy_cache/
.dmypy.json
dmypy.json

# Pyre проверка типов
.pyre/

# IDE
.vscode/
.idea/
*.swp
*.swo
*~

# Операционная система
.DS_Store
Thumbs.db

# Локальные файлы данных
# *.json
# *.csv
